<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-transparent-status-bar"
    version="1.0.1">

    <name>Transparent status bar</name>

    <js-module src="www/transparentstatusbar.js" name="transparentstatusbar">
        <clobbers target="Transparentstatusbar" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Transparentstatusbar">
                <param name="android-package" value="it.tangodev.plugin.Transparentstatusbar"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/Transparentstatusbar.java" target-dir="src/it/tangodev/plugin/"/>

        <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />
        <resource-file src="src/android/res/values-v19/styles.xml" target="res/values-v19/styles.xml" />

        <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="merge">
            <activity android:theme="@style/AppTheme" />
        </edit-config>
    </platform>
</plugin>